.rollmaster-valid-composer {
  display: block;
  position: absolute;
  right: 0.125em;
  bottom: 0em;
  padding: 0.125em;

  svg.svg-roll {
    --success-mild: color-mix(
      in srgb,
      var(--success-medium),
      rgb(140, 140, 140)
    );
    color: var(--success-mild, --success-medium);
    &:has(~ .rollmaster-spinner) {
      color: var(--primary-low-mid);
    }

    &:has(+ .roll__invalid) {
      color: var(--danger);
    }
  }

  svg.roll__invalid {
    color: var(--danger);
  }
}

.rollmaster-spinner {
  animation: rotate-forever 1s infinite linear;
  color: var(--primary-low-mid);
}

.bb-rollmaster-result {
  .bb-rollmaster-title {
    color: var(--primary-high-or-secondary-low);
    margin-bottom: 0.25em;
    font-size: var(--font-down-1);

    .d-icon {
      display: inline-block;
      font-size: var(--font-0-rem);
      margin: auto 0;
      margin-right: 0.25em;
    }
  }

  .bb-rollmaster-results {
    margin-top: 0.25em;
    font-family: var(--d-font-family--monospace);
  }
}
